body{
    font-family: Verdana;
    background-color: #f6dbaf;
}

.jumbotron{
    text-align: center;
    background-color:#b8500c;
    color: whitesmoke;
}

.card{
    text-align: center;
    column-count: 3;
}